@model Project.Models.Expenses;
@{
    int countnumber = ViewBag.count;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Image/sea.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Admin.css">
    <link rel="stylesheet" href="~/css/Button.css">
    <script src="https://kit.fontawesome.com/d85c1eb16f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Admin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-rough"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <title>Hotel Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul class="nav-ul">
                <li>
                    <a class="btn1">
                        <span class="icon"><img src="~/Image/svgpng.com/item (118).png" alt="" style="width: 45px;"></span>
                        <span class="tittle">Ocean Hotel</span>
                    </a>
                </li>
                <li>
                    <a class="btn2" href="/DashBoard/AdminDashBoard">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="tittle">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="btn3">
                        <span class="icon"><i class="fa-solid fa-people-group"></i></span>
                        <span class="tittle">Booking <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-booking-button" href="/Booking/AdminBooking">All Booking</a></li>
                        <li><a class="edit-booking-button" href="/Booking/AdminEditBooking">Edit Booking</a></li>
                        <li><a class="add-booking-button" href="/Booking/AdminAddBooking">Add Booking</a></li>
                        <li><a class="add-booking-button" href="/Booking/AdminBookingDetails">Booking Details</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn4">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="tittle">Rooms <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-room-button" href="/Room/AdminRoom">All Rooms</a></li>
                        <li><a class="edit-room-button" href="/Room/AdminEditRoom">Edit Room</a></li>
                        <li><a class="add-room-button" href="/Room/AdminAddRoom">Add Room</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn5">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <span class="tittle">Customers <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-customer-button" href="/Customer/AdminCustomer">All Customers</a></li>
                        <li><a class="edit-customer-button" href="/Customer/AdminEditCustomer">Edit Customer</a></li>
                        <li><a class="add-customer-button" href="/Customer/AdminAddCustomer">Add Customer</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn6">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <span class="tittle">Employees <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-employee-button" href="/Employee/AdminEmployee">All Employees</a></li>
                        <li><a class="edit-employee-button" href="/Employee/AdminEditEmployee">Edit Employee</a></li>
                        <li><a class="add-employee-button" href="/Employee/AdminAddEmployee">Add Employee</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn7">
                        <span class="icon"><i class="fas fa-concierge-bell"></i></span>
                        <span class="tittle">Services <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="service-button" href="/Service/AdminServices">All Services</a></li>
                        <li><a class="shuttle-button" href="/Service/AdminShuttle">Shuttle Services</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn16">
                        <span class="icon"><i class="fa-solid fa-couch"></i></span>
                        <span class="tittle">Furniture <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-furniture-button" href="/Furniture/AdminFurniture">All Furniture</a></li>
                        <li><a class="edit-furniture-button" href="/Furniture/AdminEditFurniture">Edit Furniture</a></li>
                        <li><a class="add-furniture-button" href="/Furniture/AdminAddFurniture">Add Furniture</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn8" href="/Promotion/AdminPricing">
                        <span class="icon"><i class="fa-solid fa-money-bill-wave"></i></span>
                        <span class="tittle">Pricing</span>
                    </a>
                </li>
                <li>
                    <a class="btn9">
                        <span class="icon"><i class="fa-solid fa-clipboard-user"></i></span>
                        <span class="tittle">Staff <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="leave-button" href="/Employee/AdminLeave">Leave</a></li>
                        <li><a class="attendance-button" href="/Employee/AdminAttendance">Attandance</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn10 hovered">
                        <span class="icon"><i class="fa-solid fa-van-shuttle"></i></span>
                        <span class="tittle">Accounting <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul active-li">
                        <li><a class="invoice-button" href="/Invoice/AdminInvoice">Invoices</a></li>
                        <li><a class="payment-button" href="/Payment/AdminPayment">Payments</a></li>
                        <li class="active"><a class="Expenses-button" href="/Expense/AdminExpense">Expenses</a></li>
                        <li><a class="Taxes-button" href="/Taxes/AdminTaxes">Taxes</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn11">
                        <span class="icon"><i class="fa-solid fa-book"></i></span>
                        <span class="tittle">Payroll <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="employee-salary-button" href="/Employee/AdminEmployeeSalary">Employee Salary</a>
                        </li>
                        <li><a class="payslip-button" href="/Employee/AdminPayslip">Payslip</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn12">
                        <span class="icon"><i class="fas fa-chart-bar"></i></span>
                        <span class="tittle">Chart <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="bar-button" href="/Chart/AdminBarChart">Bar Chart</a></li>
                        <li><a class="line-button" href="/Chart/AdminLineChart">Line Chart</a></li>
                        <li><a class="pie-button" href="/Chart/AdminPieChart">Pie Chart</a></li>
                        <li><a class="donut-button" href="/Chart/AdminDonutChart">Donut Chart</a></li>
                        <li><a class="mixed-button" href="/Chart/AdminMixedChart">Mixed Chart</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn13">
                        <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                        <span class="tittle">Reports <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="expense-report-button" href="/Expense/AdminExpenseReport">Expense Report</a></li>
                        <li><a class="invoice-report-button" href="/Invoice/AdminInvoiceReport">Invoice Report</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn14">
                        <span class="icon"><i class="fa-solid fa-gear"></i></span>
                        <span class="tittle">Setting</span>
                    </a>
                </li>
                <li>
                    <a class="btn15" asp-action="SignOut1" asp-controller="Login">
                        <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span class="tittle">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- ==============================main============================ -->
        <div class="main">
            <div class="top-bar">
                <div class="toggle"><i class="fa-solid fa-bars"></i></div>
                <div class="search">
                </div>
                <div id="change-dark-mode">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="user-role-name">
                    <div class="user">
                        <img src="~/Image/Avatar/@ViewBag.employee_avatar.img" alt="">
                    </div>
                    <div class="role-name">
                        <span class="user1"style="font-size: 18px;">@ViewBag.employee_avatar.name</span><br>
                        <span class="user2"style="font-size: 14px;">@ViewBag.employee_avatar.role</span>
                    </div>
                </div>
            </div>
            <!-- ==============================Card============================== -->
            <div class="sub-main">
                <div class="article-11">
                    <div class="box-tittle-1">
                        <p>Add Expense</p>
                        <img src="~/Image/svgpng.com/item (192).png" alt="">
                    </div>
                    <div class="search-box">
                        <form method="post">
                            <div id="forms-container">
                                <div class="sub-main-bottom sub-bg background_bg1">
                                    <div class="main-col">
                                        <div><label>Purchase From</label></div>
                                        <input type="text" asp-for="purchase_from" id="">
                                        <input type="hidden" asp-for="count" id="" value="@countnumber">
                                        @Html.ValidationMessageFor(m => m.expensesDetails[0].purchase_from)
                                    </div>
                                    <div class="main-col">
                                        <div><label>Purchase Date</label></div>
                                        <input type="date" asp-for="purchase_at" id="">
                                        @Html.ValidationMessageFor(m => m.expensesDetails[0].purchase_at)
                                    </div>
                                    <div class="main-col">
                                        <div><label>Status</label></div>
                                        <select name="" id="">
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                        @Html.ValidationMessageFor(m => m.status)
                                    </div>
                                </div>
                                @for (int i = 0; i < countnumber; i++)
                                {
                                        <div class="sub-main-bottom sub-bg background_bg1">
                                            <div class="main-col">
                                                <div><label>Item Name</label></div>
                                                <select asp-for="@Model.expensesDetails[@i].furniture!.name" id="item_name-@i">
                                                @foreach (var furniture in ViewBag.furniture_list)
                                                {
                                                    <option value="@furniture.name">@furniture.name</option>
                                                }
                                                </select>
                                                @Html.ValidationMessageFor(m => m.expensesDetails[i].furniture!.name)
                                            </div>
                                            <div class="main-col">
                                                <div><label>Quantity</label></div>
                                                <input type="text" asp-for="@Model.expensesDetails[i].quanity"
                                                    id="quantity-@i" placeholder="0">
                                                @Html.ValidationMessageFor(m => m.expensesDetails[i].quanity)
                                            </div>
                                            <div class="main-col">
                                                <div><label>Promotion</label></div>
                                                <select asp-for="@Model.expensesDetails[i].promotion!.name" id="promotion-@i">
                                                    <option value="none">Select Promotion</option>
                                                @foreach (var promotion in ViewBag.promotion_list)
                                                {
                                                    <option value="@promotion.name">@promotion.name</option>
                                                }
                                                </select>
                                                @Html.ValidationMessageFor(m => m.expensesDetails[i].promotion!.name)
                                            </div>
                                            <div class="main-col">
                                                <div><label>Taxes</label></div>
                                                <select asp-for="@Model.expensesDetails[i].taxes!.taxes_name" id="taxes-@i">
                                                    <option value="none">Select Taxes</option>
                                                @foreach (var taxes in ViewBag.taxes_list)
                                                {
                                                    <option value="@taxes.taxes_name">@taxes.taxes_name</option>
                                                }
                                                </select>
                                                @Html.ValidationMessageFor(m => m.expensesDetails[i].taxes!.taxes_name)
                                            </div>
                                            <div class="main-col">
                                                <div><label>Unit price</label></div>
                                                <input type="text" asp-for="@Model.expensesDetails[i].furniture!.price"
                                                    id="price-@i" placeholder="$0.00">
                                                @Html.ValidationMessageFor(m => m.expensesDetails[i].furniture!.price)
                                            </div>
                                            <div class="main-col">
                                                <div><label>Amount</label></div>
                                                <input type="text" asp-for="@Model.expensesDetails[i].amount"
                                                    id="amount-@i" placeholder="$0.00">
                                                @Html.ValidationMessageFor(m => m.expensesDetails[i].amount)
                                            </div>
                                        </div>
                                }
                            </div>
                            <button type="submit" id="add-form-button" asp-action="GetCount2" asp-controller="Expense"
                                style="background: transparent; float:right; margin-right:3%;"><i
                                    class="fa-solid fa-circle-minus"
                                    style="color: #52bf4a; font-size:25px; cursor:pointer;"></i></button>
                            <button type="submit" id="add-form-button" asp-action="GetCount" asp-controller="Expense"
                                style="background: transparent; float:right; margin-right:1%;"><i
                                    class="fa-solid fa-circle-plus"
                                    style="color: #52bf4a; font-size:25px; cursor:pointer;"></i></button>
                            <button type="submit" class="button-29" asp-action="AdminInsertExpense" asp-controller="Expense"
                                style="float:right; margin-right: 80px;">Create
                                Expense</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        @* var count = 1;
        $(function () {

            // Function to create and append forms
            function createAndAppendForm() {
                // Create form template
                const formTemplate = $('<div class="sub-main-bottom sub-bg"></div>');
                const mailCol1 = $('<div class="main-col"></div>');
                const mailCol2 = $('<div class="main-col"></div>');
                const mailCol3 = $('<div class="main-col"></div>');
                const mailCol4 = $('<div class="main-col"></div>');
                const mailCol5 = $('<div class="main-col"></div>');
                // Create input fields
                const itemNameLabel = $('<label>Item Name</label>');
                const itemNameInput = $('<input type="text" id="item_name-' + (count) + '" placeholder="Enter item name">');

                const quantityLabel = $('<label>Quantity</label>');
                const quantityInput = $('<input type="number" id="quantity-' + (count) + '" placeholder="Enter quantity">');

                const promotionLabel = $('<label>Promotion</label>');
                const promotionInput = $('<input type="text" id="promotion-' + (count) + '" placeholder="Enter promotion">');

                const taxesLabel = $('<label>Taxes</label>');
                const taxesInput = $('<input type="number" id="taxes-' + (count) + '" placeholder="Enter taxes">');

                const amountLabel = $('<label>Amount</label>');
                const amountInput = $('<input type="number" id="amount-' + (count) + '" placeholder="Enter amount">');

                // Add input fields and submit button to form template
                mailCol1.append(itemNameLabel);
                mailCol1.append(itemNameInput);
                formTemplate.append(mailCol1);

                mailCol2.append(quantityLabel);
                mailCol2.append(quantityInput);
                formTemplate.append(mailCol2);

                mailCol3.append(promotionLabel);
                mailCol3.append(promotionInput);
                formTemplate.append(mailCol3);

                mailCol4.append(taxesLabel);
                mailCol4.append(taxesInput);
                formTemplate.append(mailCol4);

                mailCol5.append(amountLabel);
                mailCol5.append(amountInput);
                formTemplate.append(mailCol5);

                $('#forms-container').append(formTemplate);
            }
            $('#add-form-button').click(function (event) {
                count++;
                createAndAppendForm();
                event.preventDefault();
                const formData = $(this).closest('form').serializeArray();
                console.log('Submitted form data:', formData);
            });
        }); *@
    </script>
</body>

</html>