@model X.PagedList.IPagedList<Booking>;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;
@{
    int count=0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Image/sea.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Admin.css">
    <link rel="stylesheet" href="~/css/Checkbox.css">
    <link rel="stylesheet" href="~/css/Button.css">
    <script src="https://kit.fontawesome.com/d85c1eb16f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Admin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-rough"></script>
    <title>Hotel Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
           <ul class="nav-ul">
                <li>
                    <a class="btn1">
                        <span class="icon"><img src="~/Image/svgpng.com/item (118).png" alt="" style="width: 45px;"></span>
                        <span class="tittle">Ocean Hotel</span>
                    </a>
                </li>
                <li>
                    <a  class="btn2" href="/DashBoard/AdminDashBoard">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="tittle">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a  class="btn3 hovered">
                        <span class="icon"><i class="fa-solid fa-people-group"></i></span>
                        <span class="tittle">Booking <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul active-li">
                        <li class="active"><a class="all-booking-button" href="/Booking/AdminBooking">All Booking</a></li>
                        <li><a class="edit-booking-button" href="/Booking/AdminEditBooking">Edit Booking</a></li>
                        <li><a class="add-booking-button" href="/Booking/AdminAddBooking">Add Booking</a></li>
                        <li><a class="add-booking-button" href="/Booking/AdminBookingDetails">Booking Details</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn4">
                        <span class="icon"><i class="fas fa-bed"></i></span>
                        <span class="tittle">Rooms <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-room-button" href="/Room/AdminRoom">All Rooms</a></li>
                        <li><a class="edit-room-button" href="/Room/AdminEditRoom">Edit Room</a></li>
                        <li><a class="add-room-button" href="/Room/AdminAddRoom">Add Room</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn5">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <span class="tittle">Customers <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-customer-button" href="/Customer/AdminCustomer">All Customers</a></li>
                        <li><a class="edit-customer-button" href="/Customer/AdminEditCustomer">Edit Customer</a></li>
                        <li><a class="add-customer-button" href="/Customer/AdminAddCustomer">Add Customer</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn6">
                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                        <span class="tittle">Employees <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-employee-button" href="/Employee/AdminEmployee">All Employees</a></li>
                        <li><a class="edit-employee-button" href="/Employee/AdminEditEmployee">Edit Employee</a></li>
                        <li><a class="add-employee-button" href="/Employee/AdminAddEmployee">Add Employee</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn7">
                        <span class="icon"><i class="fas fa-concierge-bell"></i></span>
                        <span class="tittle">Services <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="service-button" href="/Service/AdminServices">All Services</a></li>
                        <li><a class="shuttle-button" href="/Service/AdminShuttle">Shuttle Services</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn16">
                        <span class="icon"><i class="fa-solid fa-couch"></i></span>
                        <span class="tittle">Furniture <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="all-furniture-button" href="/Furniture/AdminFurniture">All Furniture</a></li>
                        <li><a class="edit-furniture-button" href="/Furniture/AdminEditFurniture">Edit Furniture</a></li>
                        <li><a class="add-furniture-button" href="/Furniture/AdminAddFurniture">Add Furniture</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn8" href="/Promotion/AdminPricing">
                        <span class="icon"><i class="fa-solid fa-money-bill-wave"></i></span>
                        <span class="tittle">Pricing</span>
                    </a>
                </li>
                <li>
                    <a class="btn9">
                        <span class="icon"><i class="fa-solid fa-clipboard-user"></i></span>
                        <span class="tittle">Staff <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="leave-button" href="/Employee/AdminLeave">Leave</a></li>
                        <li><a class="attendance-button" href="/Employee/AdminAttendance">Attandance</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn10">
                        <span class="icon"><i class="fa-solid fa-van-shuttle"></i></span>
                        <span class="tittle">Accounting <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="invoice-button" href="/Invoice/AdminInvoice">Invoices</a></li>
                        <li><a class="payment-button" href="/Payment/AdminPayment">Payments</a></li>
                        <li><a class="Expenses-button" href="/Expense/AdminExpense">Expenses</a></li>
                        <li><a class="Taxes-button" href="/Taxes/AdminTaxes">Taxes</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn11">
                        <span class="icon"><i class="fa-solid fa-book"></i></span>
                        <span class="tittle">Payroll <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="employee-salary-button" href="/Employee/AdminEmployeeSalary">Employee Salary</a></li>
                        <li><a class="payslip-button" href="/Employee/AdminPayslip">Payslip</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn12">
                        <span class="icon"><i class="fas fa-chart-bar"></i></span>
                        <span class="tittle">Chart <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="bar-button" href="/Chart/AdminBarChart">Bar Chart</a></li>
                        <li><a class="line-button" href="/Chart/AdminLineChart">Line Chart</a></li>
                        <li><a class="pie-button" href="/Chart/AdminPieChart">Pie Chart</a></li>
                        <li><a class="donut-button" href="/Chart/AdminDonutChart">Donut Chart</a></li>
                        <li><a class="mixed-button" href="/Chart/AdminMixedChart">Mixed Chart</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn13">
                        <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                        <span class="tittle">Reports <i class="fas fa-caret-right"></i></span>
                    </a>
                    <ul class="nav-sub-ul">
                        <li><a class="expense-report-button" href="/Expense/AdminExpenseReport">Expense Report</a></li>
                        <li><a class="invoice-report-button" href="/Invoice/AdminInvoiceReport">Invoice Report</a></li>
                    </ul>
                </li>
                <li>
                    <a class="btn14">
                        <span class="icon"><i class="fa-solid fa-gear"></i></span>
                        <span class="tittle">Setting</span>
                    </a>
                </li>
                <li>
                    <a class="btn15" asp-action="SignOut1" asp-controller="Login">
                        <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span class="tittle">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- ==============================main============================ -->
        <div class="main">
            <div class="top-bar">
                <div class="toggle"><i class="fa-solid fa-bars"></i></div>
                <div class="search">
                </div>
                <div id="change-dark-mode">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="user-role-name">
                    <div class="user">
                        <img src="~/Image/Avatar/@ViewBag.employee_avatar.img" alt="">
                    </div>
                    <div class="role-name">
                        <span class="user1"style="font-size: 18px;">@ViewBag.employee_avatar.name</span><br>
                        <span class="user2"style="font-size: 14px;">@ViewBag.employee_avatar.role</span>
                    </div>
                </div>
            </div>
            <!-- ==============================Card============================== -->
            <div class="sub-main">
                <div class="article-2">
                    <div class="box-tittle-1">
                        <p>Booking List</p>
                        <img src="~/Image/svgpng.com/item (228).png" alt="">
                    </div>
                    <div class="nav-cover">
                        <div class="nav-guest-bar">
                            <ul class="nav-guest-ul">
                                <li class="nav-item"><a class="nav-link" href="/Booking/AdminBooking">All Bookings</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Booking/AdminBookingPending">Pending</a></li>
                                <li class="nav-item"><a class="nav-link active">Booked</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Booking/AdminBookingRefund">Refund</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Booking/AdminBookingCanceled">Canceled</a></li>
                            </ul>
                        </div>
                        <div class="search-box">
                            <form method="post" asp-action="AdminSearchBookingBooked" asp-controller="Booking" style="display: flex; justify-content: center; align-items: center; column-gap: 10px;">
                                <input type="text" name="searchkeyword" id="" placeholder="Search here">
                                <button class="button-29">Search</button>
                            </form>
                            <form method="post" asp-action="AdminBookingBooked" asp-controller="Booking">
                                <button class="button-29"><i class="fa-solid fa-rotate-right fa-spin"></i></button>
                            </form>
                        </div>
                        <div class="add-button">
                            <button class="button-29"><a href="/Booking/AdminAddBooking">Add Booking</a></button>
                        </div>
                    </div>
                    <div class="guest-list">
                        <div class="box-frame-4 booked active-table" id="booked">
                            <div class="box-frame4-table">
                                <div class="box-container-3">
                                    <table>
                                        <thead class="thead-row">
                                        <tr>
                                            <th class="th-row sorting" style="min-width: 70px; max-width: 70px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        <div class="centerbox">
                                                        <div class="checkbox-wrapper-1">
                                                            <input id="example1-@count" class="substituted myCheckbox" type="checkbox"
                                                                aria-hidden="true" />
                                                            <label for="example1-@count"></label>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "id_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "id_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 200px; max-width: 200px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Guest
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "name_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "name_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 110px; max-width: 110px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Phone
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "phone_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "phone_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 110px; max-width: 110px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Email
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "email_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "email_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 80px; max-width: 80px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Number of people
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "numberofguest_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "numberofguest_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 110px; max-width: 110px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Check In
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "checkin_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "checkin_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 110px; max-width: 110px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Check Out
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "checkout_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "checkout_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 130px; max-width: 130px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Special Request
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><i class='fas fa-caret-up'></i></div>
                                                        <div class="down"><i class='fas fa-caret-down'></i></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 100px; max-width: 100px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Total
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "total_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "total_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 100px; max-width: 100px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Room Name
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "roomname_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "roomname_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 100px; max-width: 100px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Room Type
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "roomtype_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "roomtype_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 100px; max-width: 100px;">
                                                <div class="input">
                                                    <div class="table-ttile">
                                                        Status
                                                    </div>
                                                    <div class="chevron">
                                                        <div class="up"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "status_asc" })"><i class="fas fa-caret-up"></i></a></div>
                                                        <div class="down"><a href="@Url.Action("AdminSortBookingBooked", "Booking", new { id = "status_desc" })"><i class="fas fa-caret-down"></i></a></div>
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="th-row sorting" style="min-width: 50px; max-width: 50px;">
                                                <div class="input">
                                                    <div>Action
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach(var booking in ViewBag.booking_list){
                                            <tr class="guest-info">
                                            <td class="checkbox-col">
                                                <div class="centerbox">
                                                        <div class="checkbox-wrapper-1">
                                                            <input id="example-@count" class="substituted myCheckbox" type="checkbox"
                                                                aria-hidden="true" />
                                                            <label for="example-@count"></label>
                                                        </div>
                                                    </div>
                                            </td>
                                            <td class="guestname-col">
                                                <div class="guest-name">
                                                    <div class="guest-avatar">
                                                        <img src="~/Image/Avatar/@booking.customer.img" alt="">
                                                    </div>
                                                    <div class="guest-mini-name">
                                                        <div class="guest-id">BO-@booking.customer.id</div>
                                                        <div class="name">
                                                            @Html.ActionLink((string)@booking.customer.name, "AdminBookingDetails","Booking", new { id = @booking.id, id1=@booking.customer.id }, null)
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="daybooking-col">
                                                <div class="booking-box">
                                                    <div class="day-booking" style="text-align:center;">@booking.customer.phone</div>
                                                </div>
                                            </td>
                                            <td class="daybooking-col">
                                                <div class="booking-box">
                                                    <div class="day-booking" style="text-align:center;">@booking.customer.email</div>
                                                </div>
                                            </td>
                                            <td class="daybooking-col">
                                                <div class="booking-box">
                                                    <div class="day-booking" style="text-align:center;">@booking.number_of_guest</div>
                                                </div>
                                            </td>
                                            <td class="checkin-col">
                                                <div class="booking-box">
                                                    <div class="day-checkin">@booking.check_in_date</div>
                                                    <div class="time-checkin">10:00 AM</div>
                                                </div>
                                            </td>
                                            <td class="checkout-col">
                                                <div class="booking-box">
                                                    <div class="day-checkout">@booking.check_out_date</div>
                                                    <div class="time-checkout">08:29 AM</div>
                                                </div>
                                            </td>
                                            <td class="request-col">
                                                <div class="request" style="text-align:center;"><a href="#">View Notes</a></div>
                                            </td>
                                            <td class="roomtype-col">
                                                <div class="request" style="text-align:center;">$ @booking.total_price</div>
                                            </td>
                                            <td class="roomtype-col">
                                                <div class="request" style="text-align:center;">@booking.room.name</div>
                                            </td>
                                            <td class="roomtype-col">
                                                <div class="booking-box">
                                                    <div class="room-type" style="text-align:center;">@booking.room.type</div>
                                                    <div class="room-number" style="text-align:center;">Room No.@booking.room.id</div>
                                                </div>
                                            </td>
                                            <td class="status-col">
                                                <div class="status">
                                                    @if(booking.status=="Pending"){
                                                        <div class="pending-status">Pending</div>
                                                    }else if(booking.status=="Booked"){
                                                        <div class="done-status">Booked</div>
                                                    }else if(booking.status=="Refund"){
                                                        <div class="refund-status">Refund</div>
                                                    }else{
                                                        <div class="canceled-status">Canceled</div>
                                                    }
                                                </div>
                                            </td>
                                            <td class="edit-col">
                                                <div class="edit"><div class="btn-change"><i class="fa-solid fa-ellipsis"></i>
                                                    <div class="drop-down">
                                                        <div class="drop-down-sub">
                                                            @Html.ActionLink("Edit", "EditBooking","Booking", new { id = @booking.id })
                                                            @Html.ActionLink("Delete", "DeleteBooking","Booking", new { id = @booking.id }, new {@Class="delete-link"})
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </td>
                                            </tr>
                                            count++;
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="bottom-table">
                                <div class="bottom-text">Showing 1 to 10 of entries</div>
                                <div class="bottom-button">
                                    @if(ViewBag.searchResult==1){
                                        @Html.PagedListPager((IPagedList<Booking>)ViewBag.booking_list, page =>Url.Action("AdminSearchBookingBooked", "Booking", new {page =page}),
                                        new PagedListRenderOptions{
                                            MaximumPageNumbersToDisplay=3,
                                            PreviousElementClass="previous-button horizontal-paging",
                                            LinkToPreviousPageFormat="<< Previous",
                                            NextElementClass="next-button horizontal-paging",
                                            LinkToNextPageFormat="Next >>",
                                            UlElementClasses= new[] {"horizontal-paging","bottom-number"},
                                            LinkToLastPageFormat="Last Page",
                                            LinkToFirstPageFormat="First Page",
                                            LiElementClasses=new [] {"page-link"},
                                        })
                                    }else if(ViewBag.searchResult==2){
                                        @Html.PagedListPager((IPagedList<Booking>)ViewBag.booking_list, page =>Url.Action("AdminSortBookingBooked", "Booking", new {page =page}),
                                        new PagedListRenderOptions{
                                            MaximumPageNumbersToDisplay=3,
                                            PreviousElementClass="previous-button horizontal-paging",
                                            LinkToPreviousPageFormat="<< Previous",
                                            NextElementClass="next-button horizontal-paging",
                                            LinkToNextPageFormat="Next >>",
                                            UlElementClasses= new[] {"horizontal-paging","bottom-number"},
                                            LinkToLastPageFormat="Last Page",
                                            LinkToFirstPageFormat="First Page",
                                            LiElementClasses=new [] {"page-link"},
                                        })
                                    }else{
                                        @Html.PagedListPager((IPagedList<Booking>)ViewBag.booking_list, page =>Url.Action("AdminBookingBooked", "Booking", new {page =page}),
                                        new PagedListRenderOptions{
                                            MaximumPageNumbersToDisplay=3,
                                            PreviousElementClass="previous-button horizontal-paging",
                                            LinkToPreviousPageFormat="<< Previous",
                                            NextElementClass="next-button horizontal-paging",
                                            LinkToNextPageFormat="Next >>",
                                            UlElementClasses= new[] {"horizontal-paging","bottom-number"},
                                            LinkToLastPageFormat="Last Page",
                                            LinkToFirstPageFormat="First Page",
                                            LiElementClasses=new [] {"page-link"},
                                        })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
         $('.delete-link').click(function(e) {
           e.preventDefault();
           var id = $(this).data('id');
           var deleteUrl = $(this).attr('href');
           console.log(id);
           Swal.fire({
             title: 'Are you sure?',
             text: 'You will not be able to recover this booking!',
             icon: 'warning',
             showCancelButton: true,
             confirmButtonColor: '#3085d6',
             cancelButtonColor: '#d33',
             confirmButtonText: 'Yes, delete it!'
           }).then((result) => {
             if (result.isConfirmed) {
               window.location.href = deleteUrl;
             }
           });
         });
        });
    </script>
</body>
</html>