<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/Invoice.css">
    </head>
    <body>

        <div class = "invoice-wrapper" id = "print-area">
            <div class = "invoice">
                <div class = "invoice-container">
                    <div class = "invoice-head">
                        <div class = "invoice-head-top">
                            <div class = "invoice-head-top-left text-start">
                                <img src = "~/Image/logo.png">
                            </div>
                            <div class = "invoice-head-top-right text-end">
                                <h3>Invoice</h3>
                            </div>
                        </div>
                        <div class = "hr"></div>
                        <div class = "invoice-head-middle">
                            <div class = "invoice-head-middle-left text-start">
                                <p><span class = "text-bold color-text-blue">Date</span>: @ViewBag.invoice.create_date</p>
                            </div>
                            <div class = "invoice-head-middle-right text-end">
                                <p><span class = "text-bold color-text-blue">Invoice No:</span> #@ViewBag.invoice.id</p>
                            </div>
                        </div>
                        <div class = "hr"></div>
                        <div class = "invoice-head-bottom">
                            <div class = "invoice-head-bottom-left">
                                <ul>
                                    <li class = 'text-bold color-text-blue'>Invoiced To:</li>
                                    <li>@ViewBag.customer.name</li>
                                    <li>@ViewBag.customer.address</li>
                                    <li>Phone number: @ViewBag.customer.phone</li>
                                    <li>Email: @ViewBag.customer.email</li>
                                </ul>
                            </div>
                            <div class = "invoice-head-bottom-right">
                                <ul class = "text-end">
                                    <li class = 'text-bold color-text-blue'>Pay To:</li>
                                    <li>Ocean Hotel</li>
                                    <li>2705 N. Enterprise</li>
                                    <li>contact@koiceinc.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="table-date">
                            <table class="box-date">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="check-time">Check in</td>
                                        <td>@ViewBag.booking.check_in_date</td>
                                        <td>8:00am</td>
                                    </tr>
                                    <tr>
                                        <td class="check-time">Check out</td>
                                        <td>@ViewBag.booking.check_out_date</td>
                                        <td>9:00pm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class = "overflow-view">
                        <div class = "invoice-body">
                            <table>
                                <thead>
                                    <tr>
                                        <td class = "text-bold">Room ID</td>
                                        <td class = "text-bold">Room name</td>
                                        <td class = "text-bold">Number of people</td>
                                        <td class = "text-bold">Room type</td>
                                        <td class = "text-bold">Unit Price</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@ViewBag.room.id</td>
                                        <td>@ViewBag.room.name</td>
                                        <td>@ViewBag.booking.number_of_guest</td>
                                        <td>@ViewBag.room.type</td>
                                        <td class = "text-end">$@ViewBag.room.price</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class = "overflow-view">
                        <div class = "invoice-body">
                            <table>
                                <thead>
                                    <tr>
                                        <td class = "text-bold">Service ID</td>
                                        <td class = "text-bold">Service name</td>
                                        <td class = "text-bold">Description</td>
                                        <td class = "text-bold">Unit Price</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(ViewBag.service != null){
                                        @foreach(var service in ViewBag.service){
                                        <tr>
                                            <td>@service.id</td>
                                            <td>@service.name</td>
                                            <td>@service.description</td>
                                            <td class = "text-end">$@service.price</td>
                                        </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            
                        </div>

                    </div>
                    <div class = "invoice-body-bottom">
                                <div class = "invoice-body-info-item border-bottom">
                                    <div class = "info-item-td text-end text-bold">Sub Total:</div>
                                    <div class = "info-item-td text-end">$@ViewBag.subTotal</div>
                                </div>
                                <div class = "invoice-body-info-item border-bottom">
                                    <div class = "info-item-td text-end text-bold">Tax:</div>
                                    @if(ViewBag.taxes.tax_percentage != null){
                                        <div class = "info-item-td text-end">$@ViewBag.taxes.tax_percentage</div>
                                    }else{
                                        <div class = "info-item-td text-end">$0</div>
                                    }
                                </div>
                                <div class = "invoice-body-info-item border-bottom">
                                    <div class = "info-item-td text-end text-bold">Promotion:</div>
                                    @if(ViewBag.promotion.discount_percent != null){
                                        <div class = "info-item-td text-end">$@ViewBag.promotion.discount_percent</div>
                                    }else{
                                        <div class = "info-item-td text-end">$0</div>
                                    }
                                </div>
                                <div class = "invoice-body-info-item">
                                    <div class = "info-item-td text-end text-bold">Total:</div>
                                    <div class = "info-item-td text-end">$@ViewBag.Total</div>
                                </div>
                            </div>
                    <div class = "invoice-foot text-center">
                        <p><span class = "text-bold text-center">(*):&nbsp;</span>Tax and promotion are only applied to the room rate, not to the service fees.</p><br>
                        <p><span class = "text-bold text-center">NOTE:&nbsp;</span>This is computer generated receipt and does not require physical signature.</p>
                        <div class = "invoice-btns">
                            <button type = "button" class = "invoice-btn" onclick="printInvoice()">
                                <span>
                                    <i class="fa-solid fa-print"></i>
                                </span>
                                <span>Print</span>
                            </button>
                            <button type = "button" class = "invoice-btn">
                                <span>
                                    <i class="fa-solid fa-download"></i>
                                </span>
                                <span>Download</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src = "~/js/Invoice.js"></script>
    </body>
</html>